.site-header{
    padding: 0;
    background:#3d4d5e;
    /*background:#2c3e50;*/
    position: fixed; 
    z-index: 999;
    width: calc(100% - 250px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.toggle.site-header{
    width: calc(100% - 80px);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.header-navbar-menu{
    background:#f0f8ff00;
    border-bottom: none;
    color: #eee !important;
}
.header-nabvar-icon{
    color:#eee;
}
.site-header .ant-btn-primary{
    background:#1890ff00; 
}
/* LIGHT */
.site-header[data-theme="light"]{
    background:#eee !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.site-header[data-theme="light"]>
    .ant-row>
    .ant-col>
    .header-navbar-menu{
    border-bottom: none;
    color:rgba(0, 0, 0, 0.85) !important;
}
.site-header[data-theme="light"]>
    .ant-row>
    .ant-col>
    .header-nabvar-icon{
    color:#757575;
}
.site-header[data-theme="light"]
    .ant-btn-primary{
    background:#1890ff !important;
}