.file input{
    display     :contents;
    cursor      : pointer;
    padding-left: 20px;
    cursor: pointer;   
    
}
.textosimple {
    font-style: italic;
    
}


.DataGrid th, td{
    padding-bottom: 10px;
    width: 50px;
}

.TextArea{
    color: 'red !important'
}